<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adicionar</title>
</head>
<body>
    <br>
    <br><br>
    <div class="container">

        <h1>Adicionar Produto</h1>
        <a href="{{ url_for('index') }}">Voltar</a><br><br>
        <form method="post" action="{{ url_for('add_produto') }}">
            {{ form.csrf_token }} <br>
            {{ form.nome_produto.label }} {{ form.nome_produto }} <br>
            {{ form.preco_produto .label }} {{ form.preco_produto  }} <br>
            

            <input class="btn" type="submit" value="Adicionar">
        </form>
        

        
    </div>
</body>
</html>
