<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adicionar Funcionário</title>
</head>
<body>
    <br>
    <br><br>
    <div class="container">

        <h1>Adicionar Tarefa</h1>
        <a href="{{ url_for('index') }}">Voltar</a><br><br>
        <form method="post" action="{{ url_for('funcionario_tarefa') }}">
            {{ form_funcionario_tarefa.csrf_token }}
            {{ form_funcionario_tarefa.id_tarefa.label }} {{ form_funcionario_tarefa.id_tarefa }} <br>
            {{ form_funcionario_tarefa.id_funcionario.label }} {{ form_funcionario_tarefa.id_funcionario }} <br>
            <input type="submit" value="Associar Funcionário à Tarefa">
        </form>

   
    </div>
</body>
</html>
